{% extends 'Admin/base.html.twig' %}

{% block title %}{{ workshop.title }} | {% trans %}Registrations{% endtrans %}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('style/css/custom/table.css') }}">

    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">{% trans %}Registrations to{% endtrans %} {{ workshop.title }}</h1>
    </div>
    {% for time in workshop.times %}
        <h6>{{ time.startTime|date('Y-m-d H:i') }}</h6>
        <table id="records" class="table table-sm table-striped table-hover">
            <thead>
            <tr>
                <th>Id</th>{#TODO: remove column#}
                <th>{% trans %}Registration Date{% endtrans %}</th>
            </tr>
            </thead>
            <tbody>
            {% for registration in time.registrations %}
                <tr class="expandable-row" data-toggle="collapse" data-target="#collapse_{{ registration.id }}"
                    aria-expanded="false" aria-controls="collapseExample">
                    <td>{{ registration.id }}</td>{#TODO: remove column#}
                    <td>{{ registration.created|date('Y-m-d H:i') }}</td>
                </tr>
                <tr>
                    <td class="p-0" colspan="6">
                        <div class="collapse" id="collapse_{{ registration.id }}">
                            <dl class="row px-2">
                                {% for field, value in registration.data %}
                                    <dt class="col-md-3">{{ field|replace({'-': ' '})|capitalize }}</dt>
                                    <dd class="col-md-9">
                                        {% if value is iterable %}
                                            {{ value|join(', ') }}
                                        {% else %}
                                            {{ value }}
                                        {% endif %}
                                    </dd>
                                {% endfor %}
                            </dl>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endfor %}
{% endblock %}
