{% extends 'Admin/base.html.twig' %}

{% block title %}{% trans %}Events{% endtrans %}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('style/css/custom/table.css') }}">

    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h2>{% trans %}Events{% endtrans %}</h2>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a class="btn btn-sm btn-outline-secondary" href="{{ path('event_create') }}">{% trans %}Create Event{% endtrans %}</a>
                <a class="btn btn-sm btn-outline-secondary" href="{{ path('event_create_multi') }}">{% trans %}Create Multi Event{% endtrans %}</a>
            </div>
        </div>
    </div>
    <table id="records" class="table table-striped table-hover table-sm">
        <thead>
        <tr>
            <th>ID</th>{#TODO: remove column#}
            <th>{% trans %}Type{% endtrans %}</th>
            <th>{% trans %}Title{% endtrans %}</th>
            <th>{% trans %}Place{% endtrans %}</th>
            <th>{% trans %}Description{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>
        {% for event in multiEvents %}
            <tr class="clickable-row" data-href="{{ path('event_show', { 'eventId': event.id }) }}">
                <td>{{ event.id }}</td>
                <td>Multi</td>
                <td>{{ event.title }}</td>
                <td>{{ event.place }}</td>
                <td>{{ event.description|length > 30 ? event.description|slice(0, 30) ~ '...' : event.description }}</td>
            </tr>
        {% endfor %}
        {% for event in events %}
            <tr class="clickable-row" data-href="{{ path('event_show', { 'eventId': event.id }) }}">
                <td>{{ event.id }}</td>
                <td>Single</td>
                <td>{{ event.title }}</td>
                <td>{{ event.place }}</td>
                <td>{{ event.description|length > 30 ? event.description|slice(0, 30) ~ '...' : event.description }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascript_inline %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            $(".clickable-row").click(function() {
                window.location = $(this).data("href");
            });
        });
    </script>
{% endblock %}
