{% extends 'Admin/base.html.twig' %}

{% block title %}Events | {{ event.title }}{% endblock %}

{% block header %}{{ event.title }}{% endblock %}
{% block description %}Created {{ event.created|date('Y-m-d H:i:s') }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Event details</h3>
                    <div class="pull-right">
                        <a href="{{ path('event_update', { 'eventId': event.id }) }}" class="text-muted"
                           data-toggle="tooltip" title="Edit">
                            <i class="fa fa-edit"></i>
                        </a>
                    </div>
                </div>
                <div class="box-body table-responsive no-padding">
                    <table class="table">
                        <tbody>
                        <tr>
                            <th style="width:50%">Date</th>
                            <td>{{ event.date|date('Y-m-d H:i:s') }}</td>
                        </tr>
                        {% if event.endDate is not null %}
                            <tr>
                                <th>End Date</th>
                                <td>
                                    {{ event.endDate|date('Y-m-d H:i:s') }}
                                </td>
                            </tr>
                        {% endif %}
                        <tr>
                            <th>Place</th>
                            <td>{{ event.place }}</td>
                        </tr>
                        <tr>
                            <th>Description</th>
                            <td>{{ event.description }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active" style="border-top-left-radius: 3px"><a href="#tab_1"
                                                                              data-toggle="tab">Catogories</a></li>
                    <li><a href="#tab_2" data-toggle="tab">Workshops</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane table-responsive no-padding active" id="tab_1">
                        {% if event.categories is not empty %}
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Title</th>
                                    <th>Description</th>
                                    <th>Workshops</th>
                                    <th>Parent Category</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for category in event.categories %}
                                    <tr>
                                        <td>{{ category.id }}</td>
                                        <td>{{ category.title }}</td>
                                        <td>{{ category.description|length > 30 ? category.description|slice(0, 30) ~ '...' : category.description }}</td>
                                        <td>{{ category.workshops|length }}</td>
                                        <td>{% if category.category is not null %}{{ category.category.id }}: {{ category.category.title }}{% endif %}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <b>No categories</b>
                        {% endif %}
                        <div class="box-footer">
                            <a class="btn btn-primary" href="{{ path('category_create', {'eventId': event.id}) }}">Add</a>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab_2">
                        {% if event.categories is not empty %}
                            <div class="box-group" id="accordion">
                                {% for category in event.categories %}
                                    <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
                                    <div class="panel box">
                                        <a data-toggle="collapse" data-parent="#accordion"
                                           href="#collapseC{{ category.id }}">
                                            <div class="box-header with-border">
                                                <h4 class="box-title">
                                                    {{ category.title }}
                                                </h4>
                                            </div>
                                        </a>
                                        <div id="collapseC{{ category.id }}"
                                             class="panel-collapse collapse {% if loop.first %}in{% endif %}">
                                            <div class="box-body table-responsive no-padding">
                                                {% if category.workshops is not empty %}
                                                    <table class="table">
                                                        <thead>
                                                        <tr>
                                                            <th>ID</th>
                                                            <th>Title</th>
                                                            <th>Description</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for workshop in category.workshops %}
                                                            <tr>
                                                                <td>{{ workshop.id }}</td>
                                                                <td>{{ workshop.title }}</td>
                                                                <td>{{ workshop.description|length > 30 ? workshop.description|slice(0, 30) ~ '...' : workshop.description }}</td>
                                                            </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                {% else %}
                                                    <b>No Workshops in category</b>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% else %}
                            <b>No categories</b>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
