{% extends 'Admin/base.html.twig' %}

{% block stylesheets %}

    {{ parent() }}
{% endblock %}

{% block title %}{% trans %}Events{% endtrans %} | {{ event.title }}{% endblock %}

{% block body %}
    <h2 class="border-bottom">{{ event.title }}</h2>
    <div class="row">
        <div class="col-xl-4">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">
                        {% trans %}Event details{% endtrans %}
                        <span class="pull-right">
                            <a href="{{ path('event_update', { 'eventId': event.id }) }}">
                                <i class="fa fa-edit"></i>
                            </a>
                        </span>
                    </h5>
                </div>
                <div class="card-body p-0">
                    <dl class="row px-2">
                        <dt class="col-md-4">{% trans %}Place{% endtrans %}</dt>
                        <dd class="col-md-8">{{ event.place }}</dd>
                        <dt class="col-md-4">{% trans %}Capacity{% endtrans %}</dt>
                        <dd class="col-md-8">{% if event.capacity is null %}&#8734{% else %}{{ event.capacity }}{% endif %}</dd>
                        <dt class="col-md-4">{% trans %}Form{% endtrans %}</dt>
                        <dd class="col-md-8"><a href="{{ path('form_show', {'formId': event.formConfig.id}) }}">{{ event.formConfig.title }}</a></dd>
                        <dt class="col-md-4">{% trans %}Duration{% endtrans %}</dt>
                        <dd class="col-md-8">{{ event.duration|date('H:i') }}</dd>
                        <dt class="col-md-4">{% trans %}Times{% endtrans %}</dt>
                        <dd class="col-md-8">
                            {% for time in event.times %}
                                <span class="badge badge-primary">{{ time.startTime|date('Y-m-d H:i:s') }}, {{ time.entries }}</span>
                            {% endfor %}
                        </dd>
                        <dt class="col-md-4">{% trans %}Public link{% endtrans %}</dt>
                        <dd class="col-md-8"><a href="{{ path('event', {'eventId': event.id}) }}">{{ event.title }}</a></dd>
                        <dt class="col-md-4">{% trans %}Description{% endtrans %}</dt>
                        <dd class="col-md-8">{{ event.description }}</dd>
                    </dl>
                </div>
            </div>
        </div>

        <div class="col-xl-8 mt-xl-0 mt-2">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#registrations_tab" role="tab"
                       aria-controls="registrations_tab"
                       aria-selected="false">{% trans %}Registrations{% endtrans %}</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="registrations_tab" role="tabpanel" aria-labelledby="registrations_tab">
                    {% include 'Admin/Event/tabs/registrations.html.twig' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript_inline %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {

        });
    </script>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}
