{% extends 'Admin/base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('style/css/custom/table.css') }}">
    <link rel="stylesheet" href="{{ asset('style/css/custom/spinner.css') }}">

    {{ parent() }}
{% endblock %}

{% block title %}Events | {{ event.title }}{% endblock %}

{% block header %}{{ event.title }}{% endblock %}

{% block body %}
    <h2 class="border-bottom">{{ event.title }}</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">
                        Event details
                        <span class="pull-right">
                            <a href="{{ path('event_update', { 'eventId': event.id }) }}">
                                <i class="fa fa-edit"></i>
                            </a>
                        </span>
                    </h5>
                </div>
                <div class="card-body p-0">
                    <div class="container">
                        <div class="row border-bottom">
                            <div class="col-md-4">
                                Date
                            </div>
                            <div class="col-md-8">
                                {{ event.date|date('Y-m-d H:i:s') }}
                            </div>
                        </div>
                        {% if event.endDate is not null %}
                            <div class="row border-bottom">
                                <div class="col-md-4">
                                    End Date
                                </div>
                                <div class="col-md-8">
                                    {{ event.endDate|date('Y-m-d H:i:s') }}
                                </div>
                            </div>
                        {% endif %}
                        <div class="row border-bottom">
                            <div class="col-md-4">
                                Place
                            </div>
                            <div class="col-md-8">
                                {{ event.place }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                Description
                            </div>
                            <div class="col-md-8">
                                {{ event.description }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#tab_1" role="tab" aria-controls="tab_1"
                       aria-selected="true">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tab_2" role="tab" aria-controls="tab_2"
                       aria-selected="false">Workshops</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="tab_1" role="tabpanel" aria-labelledby="tab_1">
                    {% include 'Admin/Event/tabs/categories.html.twig' %}
                </div>
                <div class="tab-pane fade" id="tab_2" role="tabpanel" aria-labelledby="tab_2">
                    {% include 'Admin/Event/tabs/workshops.html.twig' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript_inline %}
    {{ parent() }}
    {% if event.categories is not empty %}

        <script type="text/javascript">
            $(document).ready(function () {
                var categoriesList = Sortable.create(document.getElementById('categoriesList'), {
                    handle: '.category-list-handle',
                    animation: 150,
                    onUpdate: function () {
                        categoriesList.option("disabled", true);
                        $('#categories_spinner').addClass('spinner');
                        $('.category-list-handle').addClass('text-muted');
                        $.post(
                            '{{ path('event_save_category_order', {'eventId': event.id}) }}',
                            {
                                'order': categoriesList.toArray()
                            }
                        ).done(function () {
                            categoriesList.option("disabled", false);
                            $("#categories_spinner").removeClass('spinner');
                            $('.category-list-handle').removeClass('text-muted');
                        });
                    }
                });
            });
        </script>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('js/sortablejs/Sortable.min.js') }}"></script>
{% endblock %}
