{% extends 'Admin/base.html.twig' %}
{% import 'Admin/macros.html.twig' as macros %}

{% block title %}{% trans %}Events{% endtrans %} | {{ event.title }} | {% trans %}Update{% endtrans %}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('style/css/datetimepicker/bootstrap-datetimepicker.css') }}">
    <link rel="stylesheet" href="{{ asset('style/css/select2/select2.min.css') }}">
    <link rel="stylesheet" href="{{ asset('style/css/select2/select2-bootstrap4.min.css') }}">

    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h2>{% block header %}{% trans %}Edit Event{% endtrans %}{% endblock %}</h2>
    </div>
    {{ macros.display_form_errors(form) }}
    <div class="row">
        <div class="col-md-6">
            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
            <div class="form-group">
                {{ form_label(form.title) }}
                {{ form_widget(form.title, {'attr': {'class': 'form-control', 'placeholder': 'Title'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.description) }}
                {{ form_widget(form.description, {'attr': {'class': 'form-control', 'placeholder': 'Description'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.isOpen) }}
                {{ form_widget(form.isOpen, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.place) }}
                {{ form_widget(form.place, {'attr': {'class': 'form-control', 'placeholder': 'Place'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.duration) }}
                <div class="input-group date timepicker">
                    {{ form_widget(form.duration, {'attr': {'class': 'form-control'}}) }}
                    <div class="input-group-append">
                        <span class="input-group-text input-group-addon">
                            <span class="fa fa-clock-o"></span>
                        </span>
                    </div>
                </div>
            </div>
            {% block event_times %}
            {% endblock %}
            <div class="form-group">
                {{ form_label(form.capacity) }}
                {{ form_widget(form.capacity, {'attr': {'class': 'form-control', 'placeholder': 'Unlimited'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.formConfig, 'Registration form') }}
                {{ form_widget(form.formConfig, {'attr': {'class': 'form-control formSelectRegistration' }}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.groupFormConfig, 'Group registration form (optional)') }}
                {{ form_widget(form.groupFormConfig, {'attr': {'class': 'form-control formSelectRegistration' }}) }}
            </div>
            <button type="submit" class="btn btn-outline-secondary">{% trans %}Save{% endtrans %}</button>
            {{ form_row(form._token) }}
            {{ form_end(form, {'render_rest': false}) }}
        </div>
    </div>
{% endblock %}

{% block javascript_inline %}
    {{ parent() }}

    <script type="text/javascript">
        $(document).ready(function () {
            $(".timepicker").datetimepicker({
                'format': 'HH:mm',
                'showClose': true
            });

            $(".formSelectRegistration").select2({
                'placeholder': '{% trans %}Select registration form{% endtrans %}',
                theme: "bootstrap4"
            });
        });
    </script>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('js/moment/moment.min.js') }}"></script>
    <script src="{{ asset('js/datetimepicker/bootstrap-datetimepicker.min.js') }}"></script>
    <script src="{{ asset('js/select2/select2.full.min.js') }}"></script>
{% endblock %}
