{% if event.categories is not empty %}
    <table class="table table-bordered table-striped table-sm">
        <thead>
        <tr>
            <th id="categories_spinner">
            </th>
            <th>{% trans %}Title{% endtrans %}</th>
            <th>{% trans %}Description{% endtrans %}</th>
            <th>{% trans %}Workshops{% endtrans %}</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody id="categoriesList">
        {% for category in event.categories %}
            <tr data-id="{{ category.id }}">
                <td class="category-list-handle" align="center" valign="center"><span class="fa fa-arrows"></span></td>
                <td>{{ category.title }}</td>
                <td>{{ category.description|length > 30 ? category.description|slice(0, 30) ~ '...' : category.description }}</td>
                <td>{{ category.workshops|length }}</td>
                <td>
                    <a href="{{ path('category_update', {'categoryId': category.id }) }}"
                       class="text-muted"
                       data-toggle="tooltip" title="Edit">
                        <i class="fa fa-edit"></i>
                    </a>
                </td>
                <td>
                    <a href="{{ path('category_delete', {'categoryId': category.id }) }}"
                       class="text-muted"
                       data-toggle="tooltip" title="Delete">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
<div>
    <a class="btn btn-outline-secondary" href="{{ path('category_create', {'eventId': event.id}) }}">{% trans %}Add{% endtrans %}</a>
</div>
