<div class="modal fade" id="workshopModal" tabindex="-1" role="dialog" aria-labelledby="workshopModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"
                    id="workshopModalLabel">{% trans %}Choose workshop to download{% endtrans %}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{{ path('download_registrations_workshop') }}" method="post" id="workshopModalForm">
                <div class="modal-body">
                    <select class="custom-select formSelect" name="workshop" id="workshopModalSelect" required>
                        {% for workshop in workshops %}
                            {% for time in workshop.times %}
                                {% if time.registrations is empty %}
                                    <option value="{{ time.id }}" disabled="disabled">
                                        {{ workshop.title }} ({{ time.startTime|date('Y-m-d H:i') }})
                                        - {% trans %}Empty{% endtrans %}
                                    </option>
                                {% else %}
                                    <option value="{{ time.id }}">
                                        {{ workshop.title }} ({{ time.startTime|date('Y-m-d H:i') }})
                                    </option>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </select>
                </div>
                <div class="modal-footer">
                    <div class="btn-group">
                        <button type="submit"
                                class="btn btn-outline-secondary">{% trans %}Download{% endtrans %}</button>
                        <button type="button" class="btn btn-outline-danger"
                                data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="categoryModal" tabindex="-1" role="dialog" aria-labelledby="categoryModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"
                    id="categoryModalLabel">{% trans %}Choose category to download{% endtrans %}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{{ path('download_registrations_category') }}" method="post" id="categoryModalForm">
                <div class="modal-body">
                    <select class="custom-select formSelect" name="category" id="categoryModalSelect" required>
                        {% for category in event.categories %}
                            {% if category.workshops is empty %}
                                <option value="{{ category.id }}" disabled="disabled">
                                    {{ category.title }} - {% trans %}Empty{% endtrans %}
                                </option>
                            {% else %}
                                <option value="{{ category.id }}">
                                    {{ category.title }}
                                </option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="modal-footer">
                    <div class="btn-group">
                        <button type="submit"
                                class="btn btn-outline-secondary">{% trans %}Download{% endtrans %}</button>
                        <button type="button" class="btn btn-outline-danger"
                                data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<h4>{% trans %}Download registrations{% endtrans %}</h4>
<div class="btn-group">
    {% if workshops is empty %}
        <button type="button" class="btn btn-outline-secondary disabled" data-placement="top" data-toggle="tooltip"
                title="{% trans %}No workshops{% endtrans %}">
            {% trans %}Single Workshop{% endtrans %}
        </button>
    {% else %}
        <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#workshopModal">
            {% trans %}Single Workshop{% endtrans %}
        </button>
    {% endif %}
    {% if event.categories is empty %}
        <button type="button" class="btn btn-outline-secondary disabled" data-placement="top" data-toggle="tooltip"
                title="{% trans %}No categories{% endtrans %}">
            {% trans %}Single Category{% endtrans %}
        </button>
    {% else %}
        <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#categoryModal">
            {% trans %}Single Category{% endtrans %}
        </button>
    {% endif %}
    {% if event.categories is empty or workshops is empty %}
        <button type="button" class="btn btn-outline-secondary disabled" data-placement="top" data-toggle="tooltip"
                title="{% trans %}Event is empty{% endtrans %}">
            {% trans %}All{% endtrans %}
        </button>
    {% else %}
        <a class="btn btn-outline-secondary"
           href="{{ path('download_registrations_event_multi', {'eventId': event.id}) }}">{% trans %}All{% endtrans %}</a>
    {% endif %}
</div>
