{% if workshops is not empty %}
    <table class="table table-bordered table-striped table-sm">
        <thead>
        <tr>
            <th>ID</th>{#TODO: remove column#}
            <th>{% trans %}Title{% endtrans %}</th>
            <th>{% trans %}Category{% endtrans %}</th>
            <th>{% trans %}Duration{% endtrans %}</th>
            <th>{% trans %}Capacity{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>
        {% for workshop in workshops %}
            <tr class="expandable-row" data-toggle="collapse" data-target="#collapse_{{ workshop.id }}"
                aria-expanded="false" aria-controls="collapseExample">
                <td>{{ workshop.id }}</td>{#TODO: remove column#}
                <td>{{ workshop.title }}</td>
                <td>{{ workshop.category.title }}</td>
                <td>{{ workshop.duration|date('H:i') }}</td>
                <td>{% if workshop.capacity is null %}&#8734{% else %}{{ workshop.capacity }}{% endif %}</td>
            </tr>
            <tr>
                <td class="p-0" colspan="5">
                    <div class="collapse" id="collapse_{{ workshop.id }}">
                        <dl class="row px-2">
                            <dt class="col-md-3">{% trans %}Place{% endtrans %}</dt>
                            <dd class="col-md-9">{{ workshop.place }}</dd>
                            <dt class="col-md-3">{% trans %}Form{% endtrans %}</dt>
                            <dd class="col-md-9"><a href="{{ path('form_show', {'formId': workshop.formConfig.id}) }}">{{ workshop.formConfig.title }}</a></dd>
                            <dt class="col-md-3">{% trans %}Times{% endtrans %}</dt>
                            <dd class="col-md-9">
                                {% for time in workshop.times %}
                                    <span class="badge badge-primary">{{ time.startTime|date('Y-m-d H:i:s') }}, {{ time.entries }}</span>
                                {% endfor %}
                            </dd>
                            <dt class="col-md-3">{% trans %}Description{% endtrans %}</dt>
                            <dd class="col-md-9">{{ workshop.description }}</dd>
                        </dl>
                        <div class="px-2 pb-2">
                            <a class="btn btn-primary"
                               href="{{ path('workshop_update', {'workshopId': workshop.id }) }}">
                                {% trans %}Edit{% endtrans %}
                            </a>
                            <a class="btn btn-primary"
                               href="{{ path('workshop_update_times', {'workshopId': workshop.id }) }}">
                                {% trans %}Edit Times{% endtrans %}
                            </a>
                            <a class="btn btn-primary"
                               href="{{ path('workshop_registrations', {'workshopId': workshop.id }) }}">
                                {% trans %}View registrations{% endtrans %}
                            </a>
                            <a class="btn btn-danger"
                               href="{{ path('workshop_delete', {'workshopId': workshop.id }) }}">
                                {% trans %}Delete{% endtrans %}
                            </a>
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
<div>
    {% if event.categories is empty %}
        <button type="button" class="btn btn-primary disabled" data-placement="top" data-toggle="tooltip"
                title="{% trans %}At leats 1 category must exist{% endtrans %}">
            {% trans %}Add{% endtrans %}
        </button>
    {% else %}
        <a class="btn btn-primary" href="{{ path('workshop_create', {'eventId': event.id}) }}">{% trans %}Add{% endtrans %}</a>
    {% endif %}
</div>
