{% extends 'Default/base.html.twig' %}

{% block title %}{{ eventTime.event.title }} | {{ eventTime.startTime|date('Y-m-d H:i') }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('style/css/datetimepicker/bootstrap-datetimepicker.css') }}">
    <link rel="stylesheet" href="{{ asset('style/css/select2/select2.min.css') }}">
    <link rel="stylesheet" href="{{ asset('style/css/select2/select2-bootstrap4.min.css') }}">
{% endblock %}

{% block body %}
    <div class="py-5 text-center">
        <h2>{{ eventTime.event.title }}</h2>
        <h6>{{ eventTime.startTime|date('Y-m-d H:i') }}</h6>
        <p class="lead">{{ eventTime.event.description|raw }}</p>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-8">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}" role="alert">
                        {{ message|trans }}
                    </div>
                {% endfor %}
            {% endfor %}
            {% if workshopTime.isAvailable(is_granted('ROLE_USER')) %}
                <h4 class="mb-3">{% trans %}Registration{% endtrans %}</h4>
                <form name="registration" method="post">
                    {% if groupRegistration %}
                        {{ render(controller('App\\Controller\\Event\\FormController::renderForm', { 'config': eventTime.event.groupFormConfig.configParsed })) }}
                    {% else %}
                        {{ render(controller('App\\Controller\\Event\\FormController::renderForm', { 'config': eventTime.event.formConfig.configParsed })) }}
                    {% endif %}
                    <button class="btn btn-primary btn-lg btn-block" type="submit">{% trans %}Register{% endtrans %}</button>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/popper/popper.min.js') }}"></script>
    <script src="{{ asset('js/moment/moment.min.js') }}"></script>
    <script src="{{ asset('js/datetimepicker/bootstrap-datetimepicker.min.js') }}"></script>
    <script src="{{ asset('js/select2/select2.full.min.js') }}"></script>
{% endblock %}

{% block javascript_inline %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();

            $(".datetimepicker").datetimepicker({
                'format': 'YYYY-MM-DD',
                'showClose': true
            });

            $(".formSelect").select2({
                theme: "bootstrap4"
            });
        });
    </script>
{% endblock %}