<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% trans %}Please choose registration type{% endtrans %}</title>
    <link rel="icon" href="{{ asset('/img/favicon.ico') }}" type="image/x-icon">

    <link rel="stylesheet" href="{{ asset('style/css/bootstrap/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('style/css/flag-icon/flag-icon.min.css') }}">
</head>

<body class="bg-light">
<div class="container">
    <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">{% trans %}Please choose registration type{% endtrans %}</h1>
        <a class="btn btn-lg btn-primary"
           href="{{ path('registration_simple', {'timeId': timeId}) }}">{% trans %}Regular registration{% endtrans %}</a>
        <a class="btn btn-lg btn-primary"
           href="{{ path('registration_multi', {'timeId': timeId}) }}">{% trans %}Group registration{% endtrans %}</a>
    </div>

    <footer class="my-5 pt-5 text-muted text-center text-small">
        <ul class="list-inline">
            <li class="list-inline-item">
                <a href="{{ render(controller('App\\Controller\\LanguageController::changeLanguage', {'language': 'en'})) }}">
                    <span class="flag-icon flag-icon-gb"></span>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="{{ render(controller('App\\Controller\\LanguageController::changeLanguage', {'language': 'lt'})) }}">
                    <span class="flag-icon flag-icon-lt"></span>
                </a>
            </li>
        </ul>
    </footer>
</div>

<script src="{{ asset('js/jquery/jquery.min.js') }}"></script>
<script src="{{ asset('js/bootstrap/bootstrap.min.js') }}"></script>
</body>
</html>
