<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>RengForm</title>

    <link rel="stylesheet" href="{{ asset('style/css/bootstrap/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('style/css/flag-icon/flag-icon.min.css') }}">
    <link rel="stylesheet" href="{{ asset('style/css/custom/cover.css') }}">
</head>

<body class="text-center">

<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <h3 class="masthead-brand">RengForm</h3>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link active" href="{{ path('index') }}">{% trans %}Home{% endtrans %}</a>
                <a class="nav-link" href="{{ path('login') }}">{% trans %}Login{% endtrans %}</a>
                <a class="nav-link" href="{{ path('register') }}">{% trans %}Register{% endtrans %}</a>
                <a class="nav-link" href="{{ path('index', {'_locale': 'lt'}) }}">
                    <span class="flag-icon flag-icon-lt"></span>
                </a>
                <a class="nav-link" href="{{ path('index', {'_locale': 'en'}) }}">
                    <span class="flag-icon flag-icon-gb"></span>
                </a>
            </nav>
        </div>
    </header>

    <main role="main" class="inner cover">
        <h1 class="cover-heading">RengForm</h1>
        <h2 class="cover-heading">{% trans %}Registrations management system{% endtrans %}</h2>
        <p class="lead">RengForm is a registrations management system build specifically for events with multiple sub-events, lectures or workshops that all require separate registration. To cope with thet we build a system that allows you to build one or several registration forms and reuse them for all sub-events and even share them between events.</p>
        <p class="lead">
            <a href="#" class="btn btn-lg btn-secondary">{% trans %}Learn more{% endtrans %}</a>
        </p>
    </main>

    <footer class="mastfoot mt-auto">
        <div class="inner">
            <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
        </div>
    </footer>
</div>

<script src="{{ asset('js/jquery/jquery.min.js') }}"></script>
<script src="{{ asset('js/bootstrap/bootstrap.min.js') }}"></script>
</body>
</html>
