<html>
<head>
    <title>RengForm</title>
</head>
<body>
<h1>A front page. Someday.</h1>
<ul>
    <li><a href="{{ path('login') }}" >Login</a></li>
    <li><a href="{{ path('register') }}" >Register</a></li>
    <li><a href="{{ path('logout') }}" >Logout</a></li>
    <li><a href="{{ path('admin_index') }}" >Admin panel</a></li>
</ul>
<h1>Events:</h1>
<ul>
    {% for event in events %}
        <li><a href="{{ path('event', {'eventId': event.id}) }}">{{ event.title }}</a></li>
    {% endfor %}
</ul>
</body>
</html>
