{% extends 'Default/base.html.twig' %}

{% block title %}{{ event.title }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('style/css/custom/table.css') }}">
    <style>
    .popup {
        font-size: 0.8em;
        position: absolute;
        z-index: 100;
    }
    </style>
{% endblock %}

{% block body %}
    <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">{{ event.title }}</h1>
        <h6>{{ event.date|date('Y-m-d H:i') }} - {{ event.endDate|date('Y-m-d H:i') }}</h6>
        <p class="lead">{{ event.description }}</p>
    </div>
    {% if not event.isOpen %}
        <div class="alert alert-danger" role="alert">
            {% trans %}Registration is closed.{% endtrans %}
        </div>
    {% endif %}
    

    {% for category in event.categories if not event.empty %}
        {% if category.workshops is not empty %}
            <div class="card mt-2">
                <div class="card-header">
                    <h5 class="card-title">{{ category.title }}</h5>
                </div>
                <div class="card-body">
                    <p>{{ category.description|raw }}</p>
                    <table class="table table-sm table-striped table-hover">
                        <thead>
                        <tr>
                            <th>{% trans %}Workshop name{% endtrans %}</th>
                            <th>{% trans %}Start Time{% endtrans %}</th>
                            <th>{% trans %}End Time{% endtrans %}</th>
                            <th>{% trans %}Places left{% endtrans %}</th>
                            {% if is_granted('ROLE_USER') %}
                                <th>*</th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for workshop in category.workshops %}
                            {% for time in workshop.times %}
                                <tr class="clickable-row">
                                    <td>
                                        <a class="link" href="{{ path('registration', {'timeId': time.id}) }}">{{ workshop.title }}</a>
                                        <div class="popup card" style="display: none;">
                                            <div class="card-body">
                                                {{ workshop.description|raw }}
                                            </div>
                                        </div>
                                    </td>
                                    <td>{{ time.startTime|date('H:i') }}</td>
                                    <td>{{ time.endTime|date('H:i') }}</td>
                                    <td>
                                        {% if workshop.capacity is not null %}
                                            <span class="badge badge-pill {% if time.available %}badge-primary{% else %}badge-secondary{% endif %}">{{ time.entriesLeft }}</span>
                                        {% else %}
                                            {% trans %}Unlimited{% endtrans %}
                                        {% endif %}
                                    </td>
                                    {% if is_granted('ROLE_USER') %}
                                        <td>
                                            <a class="btn btn-outline-secondary btn-sm" href="{{ path('workshop_registrations', {'workshopId': workshop.id }) }}">
                                                {% trans %}View registrations{% endtrans %}
                                            </a>
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}
    {% else %}
        <p>{% trans %}Event is empty{% endtrans %}.</p>
    {% endfor %}
{% endblock %}

{% block javascript_inline %}
    <script>
        $('.clickable-row .link').hover(function() {
            $(this).parents('.clickable-row').find('.popup').show(200);
        }, function() {
            $(this).parents('.clickable-row').find('.popup').hide(200);
        })
    </script>
{% endblock %}
