<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ event.title }}</title>
    <link rel="icon" href="{{ asset('/img/favicon.ico') }}" type="image/x-icon">

    <link rel="stylesheet" href="{{ asset('style/css/bootstrap/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('style/css/flag-icon/flag-icon.min.css') }}">
    <link rel="stylesheet" href="{{ asset('style/css/custom/table.css') }}">
</head>

<body class="bg-light">
<div class="container">
    <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">{{ event.title }}</h1>
        <h6>{{ event.date|date('Y-m-d H:i') }} - {{ event.endDate|date('Y-m-d H:i') }}</h6>
        <p class="lead">{{ event.description }}</p>
    </div>

    {% for category in event.categories if not event.empty %}
        {% if category.workshops is not empty %}
            <div class="card mt-2">
                <div class="card-header">
                    <h5 class="card-title">{{ category.title }}</h5>
                </div>
                <div class="card-body">
                    <p>{{ category.description|raw }}</p>
                    <table class="table table-sm table-striped table-hover">
                        <thead>
                        <tr>
                            <th>{% trans %}Workshop{% endtrans %}</th>
                            <th>{% trans %}Start Time{% endtrans %}</th>
                            <th>{% trans %}Duration{% endtrans %}</th>
                            <th>{% trans %}Places left{% endtrans %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for workshop in category.workshops %}
                            {% for time in workshop.times %}
                                <tr class="clickable-row">
                                    <td><a href="{{ path('registration', {'timeId': time.id}) }}">{{ workshop.title }}</a></td>
                                    <td>{{ time.startTime|date('Y-m-d H:i') }}</td>
                                    <td>{{ workshop.duration|date('H:i') }}</td>
                                    <td>
                                        {% if workshop.capacity is not null %}
                                            <span class="badge badge-pill {% if time.available %}badge-primary{% else %}badge-secondary{% endif %}">{{ time.entriesLeft }}</span>
                                        {% else %}
                                            {% trans %}Unlimited{% endtrans %}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}
    {% else %}
        <p>{% trans %}Event is empty{% endtrans %}.</p>
    {% endfor %}

    <footer class="my-5 pt-5 text-muted text-center text-small">
        <ul class="list-inline">
            <li class="list-inline-item">
                <a href="{{ render(controller('App\\Controller\\LanguageController::changeLanguage', {'language': 'en'})) }}">
                    <span class="flag-icon flag-icon-gb"></span>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="{{ render(controller('App\\Controller\\LanguageController::changeLanguage', {'language': 'lt'})) }}">
                    <span class="flag-icon flag-icon-lt"></span>
                </a>
            </li>
        </ul>
    </footer>
</div>

<script src="{{ asset('js/jquery/jquery.min.js') }}"></script>
<script src="{{ asset('js/bootstrap/bootstrap.min.js') }}"></script>
</body>
</html>
