{% extends 'Admin/base.html.twig' %}

{% block title %}{% trans %}Forms{% endtrans %}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('style/css/custom/table.css') }}">

    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h2>{% trans %}Forms{% endtrans %}</h2>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a class="btn btn-sm btn-outline-secondary" href="{{ path('form_create') }}">{% trans %}Create{% endtrans %}</a>
            </div>
        </div>
    </div>
    <table id="records" class="table table-sm table-striped table-hover">
        <thead>
        <tr>
            <th>Id</th>{#TODO: remove column#}
            <th>{% trans %}Title{% endtrans %}</th>
            <th>{% trans %}Description{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>
        {% for formConfig in formConfigs %}
            <tr class="clickable-row" data-href="{{ path('form_show', { 'formId': formConfig.id }) }}">
                <td>{{ formConfig.id }}</td>{#TODO: remove#}
                <td>{{ formConfig.title }}</td>
                <td>{{ formConfig.description|length > 30 ? formConfig.description|slice(0, 30) ~ '...' : formConfig.description }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascript_inline %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            $(".clickable-row").click(function() {
                window.location = $(this).data("href");
            });
        });
    </script>
{% endblock %}
