{% extends 'Admin/base.html.twig' %}

{% block title %}{% trans %}Forms{% endtrans %} | {{ formConfig.title }}{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h2>{{ formConfig.title }}</h2>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a class="btn btn-sm btn-outline-secondary" href="{{ path('form_update', { 'formId': formConfig.id }) }}">{% trans %}Edit{% endtrans %}</a>
                <a class="btn btn-sm btn-outline-secondary" href="{{ path('form_delete', { 'formId': formConfig.id }) }}">{% trans %}Delete{% endtrans %}</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-4">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">
                        {% trans %}Form details{% endtrans %}
                    </h5>
                </div>
                <div class="card-body p-0">
                    <dl class="row px-2">
                        <dt class="col-md-4">{% trans %}Description{% endtrans %}</dt>
                        <dd class="col-md-8">{{ formConfig.description }}</dd>
                    </dl>
                </div>
            </div>
        </div>

        <div class="col-xl-8 mt-xl-0 mt-2">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#tab_2" role="tab" aria-controls="tab_2"
                       aria-selected="false">{% trans %}Preview{% endtrans %}</a>
                </li>
                <li class="nav-item">{#TODO: remove#}
                    <a class="nav-link" data-toggle="tab" href="#tab_1" role="tab" aria-controls="tab_1"
                       aria-selected="true">Configuration</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="tab_2" role="tabpanel" aria-labelledby="tab_2" style="pointer-events: none;">
                    {{ render(controller('App\\Controller\\Event\\FormController::renderForm', { 'config': formConfig.configParsed })) }}
                </div>
                <div class="tab-pane fade" id="tab_1" role="tabpanel" aria-labelledby="tab_1">{#TODO: remove#}
                    {{ formConfig.config }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
