{% extends 'Admin/base.html.twig' %}

{% block title %}Forms | {{ formConfig.title }} | Update{% endblock %}

{% block header %}Update Form{% endblock %}
{% block description %}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6">
            <!-- Horizontal Form -->
            <div class="box box-primary">
                {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                <div class="box-body">
                    <div class="form-group">
                        {{ form_label(form.title, null, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                        <div class="col-sm-10">
                            {{ form_widget(form.title, {'attr': {'class': 'form-control', 'placeholder': 'Title'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.description, null, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                        <div class="col-sm-10">
                            {{ form_widget(form.description, {'attr': {'class': 'form-control', 'placeholder': 'Description'}}) }}
                        </div>
                    </div>
                    {{ form_widget(form.config) }}
                </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Form configuration</h3>
                </div>
                <div class="box-body">
                    <div id="formBuilder">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript_inline %}
    {{ parent() }}

    <script type="text/javascript">
        $(document).ready(function () {
            $('#formBuilder').formBuilder();
        });
    </script>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('js/formBuilder/form-builder.min.js') }}"></script>
    <script src="{{ asset('js/jquery-ui-sortable/jquery-ui.min.js') }}"></script>
{% endblock %}
