{% extends 'Admin/base.html.twig' %}
{% import 'Admin/macros.html.twig' as macros %}

{% block title %}{% trans %}Forms{% endtrans %} | {{ formConfig.title }} | {% trans %}Update{% endtrans %}{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h2>{% block header %}{% trans %}Edit Form{% endtrans %}{% endblock %}</h2>
    </div>
    {{ macros.display_form_errors(form) }}
    {{ form_start(form, {'attr': {'class': 'form-horizontal', 'id': 'config-form'}}) }}
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                {{ form_label(form.title) }}
                {{ form_widget(form.title, {'attr': {'class': 'form-control', 'placeholder': 'Title'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.description) }}
                {{ form_widget(form.description, {'attr': {'class': 'form-control', 'placeholder': 'Description'}}) }}
            </div>
            {{ form_widget(form.config, {'attr': {'class': 'form-config-holder'}}) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div style="display: inline-block;margin-bottom: .5rem;">{% trans %}Form{% endtrans %}</div>
            <div id="formBuilder"></div>
        </div>
    </div>
    <button type="submit" class="btn btn-outline-secondary">{% trans %}Save{% endtrans %}</button>
    {{ form_end(form) }}
{% endblock %}

{% block javascript_inline %}
    {{ parent() }}

    <script type="text/javascript">
        $(document).ready(function () {
            var formBuilder = $('#formBuilder').formBuilder({
                disableFields: [
                    'autocomplete',
                    'button',
                    'file',
                    'header',
                    'hidden'
                ],
                controlOrder: [
                    'paragraph',
                    'text',
                    'textarea',
                    'number',
                    'checkbox',//TODO: add
                    'radio',//TODO: add
                    'checkbox-group',
                    'radio-group',
                    'date',
                    'select'
                ],
                disabledAttrs: [
                    'access',
                    'className',
                    'inline',
                    'name',
                    'other',
                    'rows',
                    'step',
                    'style',
                    'subtype',
                    'toggle'
                ],
                disabledActionButtons: ['data', 'save'],
                formData: '{{ formConfig.config|raw }}'
            });

            $("#config-form").submit(function () {
                $(".form-config-holder").val(formBuilder.formData);
            })
        });
    </script>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('js/formBuilder/form-builder.min.js') }}"></script>
    <script src="{{ asset('js/jquery-ui-sortable/jquery-ui.min.js') }}"></script>
{% endblock %}
