{% extends 'Admin/base.html.twig' %}
{% import 'Admin/macros.html.twig' as macros %}

{% block title %}{% trans %}Forms{% endtrans %} | {{ formConfig.title }} | {% trans %}Update{% endtrans %}{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h2>{% block header %}{% trans %}Edit Form{% endtrans %}{% endblock %}</h2>
    </div>
    {{ macros.display_form_errors(form) }}
    {{ form_start(form, {'attr': {'class': 'form-horizontal', 'id': 'config-form'}}) }}
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                {{ form_label(form.title) }}
                {{ form_widget(form.title, {'attr': {'class': 'form-control', 'placeholder': 'Title'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.description) }}
                {{ form_widget(form.description, {'attr': {'class': 'form-control', 'placeholder': 'Description'}}) }}
            </div>
            {{ form_widget(form.config, {'attr': {'class': 'form-config-holder'}}) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div style="display: inline-block;margin-bottom: .5rem;">{% trans %}Form{% endtrans %}</div>
            <div id="formBuilder"></div>
        </div>
    </div>
    <button type="submit" class="btn btn-outline-secondary">{% trans %}Save{% endtrans %}</button>
    {{ form_end(form) }}
{% endblock %}

{% block javascript_inline %}
    {{ parent() }}

    <script type="text/javascript">
        $(document).ready(function () {
            var formBuilder = $('#formBuilder').formBuilder({
                disableFields: [
                    'autocomplete',
                    'button',
                    'file',
                    'header',
                    'hidden'
                ],
                controlOrder: [
                    'paragraph',
                    'text',
                    'textarea',
                    'number',
                    'checkbox',//TODO: add
                    'radio',//TODO: add
                    'checkbox-group',
                    'radio-group',
                    'date',
                    'select'
                ],
                disabledAttrs: [
                    'access',
                    'className',
                    'inline',
                    'name',
                    'other',
                    'rows',
                    'step',
                    'style',
                    'subtype',
                    'toggle'
                ],
                disabledActionButtons: ['data', 'save'],
                formData: '{{ formConfig.config|raw }}',
                i18n: {
                    locale: '{% if locale == 'lt' %}lt-LT{% else %}en-US{% endif %}',
                    langs: ['en-US', 'lt-LT'],
                    preloaded: {
                        'lt-LT': {
                            addOption: 'Pridėti variantą +',
                            allFieldsRemoved: 'Visi laukai pašalinti.',
                            allowMultipleFiles: 'Leisti vartotojams įkelti kelsi failus',
                            autocomplete: 'Automatinis užbaigimas',
                            button: 'Mygtukas',
                            cannotBeEmpty: 'Šis laukas negali būti tuščias',
                            checkboxGroup: 'Žymimųjų langelių Grupė',
                            checkbox: 'Žymimasis langelis',
                            checkboxes: 'Žymimieji langeliai',
                            className: 'Klasė',
                            clearAllMessage: 'Ar tikrai norite pašalinti visus laukus?',
                            clear: 'Valyti',
                            close: 'Uždaryti',
                            content: 'Turinys',
                            copy: 'Kopijuoti',
                            copyButton: '&#43;',
                            copyButtonTooltip: 'Kopijuoti',
                            dateField: 'Datos laukas',
                            description: 'Pagalbos tekstas',
                            descriptionField: 'Aprašymas',
                            devMode: 'Kūrėjo režimas',
                            editNames: 'Redaguoti vardus',
                            editorTitle: 'Formos elementai',
                            editXML: 'Redaguoti XML',
                            enableOther: 'Įjunti &quot;Kita&quot;',
                            enableOtherMsg: 'Leisti vartotojams pridėti naujus variantus',
                            fieldNonEditable: 'Šis laukas negali būti redaguojamas.',
                            fieldRemoveWarning: 'Ar tikrai norite pašalinti šį lauką?',
                            fileUpload: 'Failo įkėlimas',
                            formUpdated: 'Forma atnaujinta',
                            getStarted: 'Tempkite lauką iš dešinės į šią zoną',
                            header: 'Antraštė',
                            hide: 'Redaguoti',
                            hidden: 'Paslėptas laukas',
                            inline: 'Inline',
                            inlineDesc: 'Atvaizduoti {type} inline',
                            label: 'Žymeklis',
                            labelEmpty: 'Lauko žymeklis negali būti tuščias',
                            limitRole: 'Limit access to one or more of the following roles:',
                            mandatory: 'Privalomas',
                            maxlength: 'Maksimalus ilgis',
                            minOptionMessage: 'Šis laukas privalo turėti bent 2 variantus',
                            minSelectionRequired: 'Bent {min} variantai yra privalomi',
                            multipleFiles: 'Keli failai',
                            name: 'Pavadinimas',
                            no: 'Ne',
                            noFieldsToClear: 'Nėra laukų kuriuos būtų galima išvalyti',
                            number: 'Skaičius',
                            off: 'Išjunti',
                            on: 'Įjungti',
                            option: 'Variantas',
                            options: 'Variantai',
                            optional: 'neprivalomas',
                            optionLabelPlaceholder: 'Žymeklis',
                            optionValuePlaceholder: 'Reikšmė',
                            optionEmpty: 'Varianto reikšmė privaloma',
                            other: 'Kita',
                            paragraph: 'Paragrafas',
                            placeholder: 'Vietos laikiklis (placeholder)',
                            'placeholder.value': 'Reikšmė',
                            'placeholder.label': 'Žymeklis',
                            'placeholder.text': '',
                            'placeholder.textarea': '',
                            'placeholder.email': 'Įveskite savo el. pašto adresą',
                            'placeholder.placeholder': '',
                            'placeholder.className': 'tarpais atskirtos klasės',
                            'placeholder.password': 'Įveskite savo slaptažodį',
                            preview: 'Peržiūra',
                            radioGroup: 'Pasirenkamų langelių grupė',
                            radio: 'Pasirenkamas langelis',
                            removeMessage: 'Pašalinti elementą',
                            removeOption: 'Pašalinti variantą',
                            remove: '&#215;',
                            required: 'Privalomas',
                            richText: 'Rich Text Editor',
                            roles: 'Prieiga',
                            rows: 'Eilutės',
                            save: 'Saugoti',
                            selectOptions: 'Variantai',
                            select: 'Pasirinkti',
                            selectColor: 'Pasirinkite spalvą',
                            selectionsMessage: 'Leisti kelis pasirinkimus',
                            size: 'Dydis',
                            'size.xs': 'Extra Small',
                            'size.sm': 'Small',
                            'size.m': 'Default',
                            'size.lg': 'Large',
                            style: 'Stilius',
                            'styles.btn.default': 'Default',
                            'styles.btn.danger': 'Danger',
                            'styles.btn.info': 'Info',
                            'styles.btn.primary': 'Primary',
                            'styles.btn.success': 'Success',
                            'styles.btn.warning': 'Warning',
                            subtype: 'Tipas',
                            text: 'Teksto laukas',
                            textArea: 'Didelis teksto laukas',
                            toggle: 'Toggle',
                            warning: 'Įspėjimas!',
                            value: 'Reikšmė',
                            viewJSON: '{  }',
                            viewXML: '&lt;/&gt;',
                            yes: 'Taip'
                        }
                    }
                }
            });

            $("#config-form").submit(function () {
                $(".form-config-holder").val(formBuilder.formData);
            })
        });
    </script>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('js/formBuilder/form-builder.min.js') }}"></script>
    <script src="{{ asset('js/jquery-ui-sortable/jquery-ui.min.js') }}"></script>
{% endblock %}
