{% extends 'base.html.twig' %}

{% block ptitle %}RengForm | {% endblock %}{% block title %}{% trans %}Index{% endtrans %}{% endblock %}

{% block nav %}
    {{ parent() }}

    <div class="container mt-2">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}" role="alert">
                    {{ message|trans }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/popper/popper.min.js') }}"></script>
{% endblock %}
