<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>RengForm | {% block title %}Index{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('style/css/bootstrap/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('style/css/font-awesome/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('style/css/custom/dashboard.css') }}">
    {% endblock %}
</head>

<body>
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap navbar-expand-sm p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{{ path('index') }}">RengForm</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-sm-auto px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="{{ path('user_profile') }}">Profile</a>
            </li>
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="{{ path('logout') }}">Sign out</a>
            </li>
        </ul>
    </div>
</nav>

{#<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 navbar-expand-sm">#}
    {#<a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{{ path('index') }}">RengForm</a>#}
    {#<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">#}
        {#<span class="navbar-toggler-icon"></span>#}
    {#</button>#}
    {#<div class="collapse navbar-collapse" id="navbarNav">#}
        {#<ul class="navbar-nav px-3">#}
            {#<li class="nav-item text-nowrap">#}
                {#<a class="nav-link" href="{{ path('user_profile') }}">My Profile</a>#}
            {#</li>#}
            {#<li class="nav-item text-nowrap">#}
                {#<a class="nav-link" href="{{ path('logout') }}">Sign out</a>#}
            {#</li>#}
        {#</ul>#}
    {#</div>#}
{#</nav>#}

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                {{ render(controller('App\\Controller\\Admin\\ThemeController::menu')) }}
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            {% block body %}
            {% endblock %}
        </main>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
{% block javascripts %}
    <script src="{{ asset('js/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('js/popper/popper.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap/bootstrap.min.js') }}"></script>
{% endblock %}

{% block javascript_inline %}
{% endblock %}

</body>
</html>
