{% extends 'Admin/base.html.twig' %}
{% import 'Admin/macros.html.twig' as macros %}

{% block title %}{% trans %}Categories{% endtrans %} | {{ category.title }} | {% trans %}Update{% endtrans %}{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h2>{% block header %}{% trans %}Edit Category{% endtrans %}{% endblock %}</h2>
    </div>
    {{ macros.display_form_errors(form) }}
    <div class="row">
        <div class="col-md-6">
            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
            <div class="form-group">
                {{ form_label(form.title) }}
                {{ form_widget(form.title, {'attr': {'class': 'form-control', 'placeholder': 'Title'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.description) }}
                {{ form_widget(form.description, {'attr': {'class': 'form-control', 'placeholder': 'Description'}}) }}
            </div>
            <button type="submit" class="btn btn-primary">{% trans %}Save{% endtrans %}</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
