<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>RengForm | {% block title %}{% endblock %}</title>

    <link rel="icon" href="{{ asset('/img/favicon.ico') }}" type="image/x-icon">

    {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('style/css/bootstrap/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('style/css/flag-icon/flag-icon.min.css') }}">
    {% endblock %}
</head>

<body class="bg-light">
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <span class="navbar-brand mb-0 h1">RengForm</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link active" href="{{ path('index') }}">{% trans %}Home{% endtrans %}</a>
            <a class="nav-item nav-link" href="{{ path('login') }}">{% trans %}Login{% endtrans %}</a>
            <a class="nav-item nav-link" href="{{ path('register') }}">{% trans %}Register{% endtrans %}</a>
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% trans %}Language{% endtrans %}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="min-width: 0">
                    <a class="dropdown-item" href="{{ render(controller('App\\Controller\\LanguageController::changeLanguage', {'language': 'en'})) }}">
                        <span class="flag-icon flag-icon-gb"></span><span class="d-md-none"> {% trans %}English{% endtrans %}</span>
                    </a>
                    <a class="dropdown-item" href="{{ render(controller('App\\Controller\\LanguageController::changeLanguage', {'language': 'lt'})) }}">
                        <span class="flag-icon flag-icon-lt"></span><span class="d-md-none"> {% trans %}Lithuanian{% endtrans %}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>

{% block body %}{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap/bootstrap.min.js') }}"></script>
{% endblock %}

{% block javascript_inline %}
{% endblock %}
</body>
</html>
