{% extends 'Admin/base.html.twig' %}
{% import 'Admin/macros.html.twig' as macros %}

{% block title %}{% trans %}Email Templates{% endtrans %} | {% trans %}Update{% endtrans %}{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h2>{% block header %}{% trans %}Edit Email Template{% endtrans %}{% endblock %}</h2>
    </div>
    {{ macros.display_form_errors(form) }}
    <div class="row">
        <div class="col-md-6">
            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
            <div class="form-group">
                {{ form_label(form.receiverField) }}
                {{ form_widget(form.receiverField, {'attr': {'class': 'form-control', 'placeholder': 'Description'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.title) }}
                {{ form_widget(form.title, {'attr': {'class': 'form-control', 'placeholder': 'Title'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.body) }}
                {{ form_widget(form.body, {'attr': {'class': 'form-control tinymce'}}) }}
            </div>
            <button type="submit" class="btn btn-outline-secondary">{% trans %}Save{% endtrans %}</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascript_inline %}
    {{ parent() }}

    <script>tinymce.init({ selector:'.tinymce' });</script>
{% endblock %}


{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('js/tinymce/tinymce.min.js') }}"></script>
{% endblock %}
